[2017-06-12 09:42] NLaloum opened #1 "ImportError: No module named 'preprocessing'"
Hi team,

This might just be an issue with the __init__ files,

but I get this when importing mlbox.preprocessing

[code]

Thanks for helping !

[2017-06-12 10:26] AxeldeRomblay commented on #1
Yes, I am working on this actually and I'll fix that soon... This a compatibility issue when using python 3.

[2017-06-18 20:26] brunosez opened #2 "Testing with Predicting Blood Donation challenge"
Hi,
Doing some tests with this challenge
https://www.drivendata.org/competitions/2/warm-up-predict-blood-donations/

With minimal understanding I rank around 700 on 2400 !
I must document some questions on
how to get features importance
how to set up stacking

Rgds
Bruno Seznec

[2017-06-19 08:48] AxeldeRomblay commented on #2
Hello Bruno,

Good to see it works ;) I am working on the doc at the moment so don't worry, it will be soon available.
- Feature importance is saved in the folder "save"
- here is a code to stack several models (you can adapt it) :

params = {

    "stck1__base_estimators" : [
        Classifier(strategy = "XGBoost", n_estimators=800, max_depth= 4,subsample = 0.8),
        Classifier(strategy = "L

[2017-06-19 16:26] AxeldeRomblay commented on #2
Here is the doc: https://github.com/AxeldeRomblay/MLBox/blob/master/docs/documentation.md

[2017-06-19 22:28] brunosez commented on #2
Hi Axel

In fact with the stacking, I got
Traceback (most recent call last):
  File "mlbox1.py", line 74, in <module>
    prd.fit_predict(params,df)
  File "/home/consult/anaconda/lib/python2.7/site-packages/mlbox-0.2.2-py2.7.egg/mlbox/prediction/predictor.py", line 339, in fit_predict
    raise ValueError("Can not predict")
ValueError: Can not predict
[mlbox1.py.txt](https://github.com/AxeldeRomb

[2017-06-20 12:48] AxeldeRomblay commented on #2
Ok so I've just fixed it and tested on your challenge and now it works... You can re-download/clone the master (or dev) branch.
Thank you for reporting me this error and enjoy your competition !

[2017-06-20 18:04] brunosez commented on #2
Hi Axel,
Thanks it is corrected, with stacking , my rank increased around 100 !
You can close the issue.
It is not clear how to get feature importance ?
Note : I will present some pointers to your framework at the Kaggle Paris Meetup
the 4th of july, are you available at this date

[2017-06-20 18:04] #2 closed

[2017-06-20 18:45] AxeldeRomblay commented on #2
Great :)
- Feature importance is the sklearn feature importance or coeff for a linear model... You do no need to code to get it, just call fit_predict method and look at "save" folder.
- Yes I will be available ! You can contact me via email/linkedin

[2017-06-20 19:03] brunosez commented on #2
Ok, it will be announced in the next day, location Equancy near the Trocadero.
Thanks to participate.
Bruno

[2017-06-21 07:51] #1 closed

[2017-06-21 13:27] NCherel opened #4 "maplotlib import error"
matplotlib is missing from requirements.txt leading to an error when importing mlbox.

[code]

[2017-06-21 13:37] AxeldeRomblay commented on #4
do you use anaconda distribution ?

[2017-06-21 13:38] NCherel commented on #4
No, just Python 2.7 and pip

[2017-06-21 13:42] AxeldeRomblay commented on #4
ok perfect ! That's why I just realize that matplotlib was missing... Now it is fixed ! Also do you have the following packages :
- os
- warnings
- copy
- time
- operator
- pickle
- sys

[2017-06-21 13:44] NCherel commented on #4
Yes I have all of them in a brand new virtual env

[2017-06-21 13:48] AxeldeRomblay commented on #4
ok so need to add them in the requirements ...

[2017-06-21 14:02] #4 closed

[2017-06-22 09:46] NeerajSarwan opened #7 "Setup script exited with usage: setup.py [global_opts] error: no commands supplied"
Hi AxeldeRomblay,

System Information
Ubuntu 16.04

I was actually trying to install your MLBox to give it a try. The steps I took were -
1- clone the repository.
2- run setup.py file.

The building part finishes till 100% but then throws a couple of errors. I am posting the actual error below.

[100%] Linking CXX shared library /tmp/easy_install-1gz4zwpu/lightgbm-2.0.2/lightgbm/lib_lightgbm.so
[1

[2017-06-22 10:26] NeerajSarwan commented on #1
Is this issue resolved? Because I still get the error No module named 'preprocessing' while trying to import mlbox.

[2017-06-22 11:09] AxeldeRomblay commented on #7
Hello !
Yes it seems there is a problem while installing lightgbm from PyPI.
- either you install it on your own (https://github.com/Microsoft/LightGBM/tree/master/python-package)
- or (simpler) : install mlbox from the wheel :

  $ cd python-package/dist/
  $ pip install *.whl

I think it should work...

[2017-06-22 11:11] AxeldeRomblay commented on #1
No unfortunately mlbox does not support Python 3 at the moment...

[2017-06-22 13:17] NCherel commented on #7
Try ```python setup.py install```

[2017-06-22 14:16] NeerajSarwan commented on #7
@AxeldeRomblay
I ran your commands and it said - mlbox-0.2.2-py2-none-any.wheel is not a supported wheel on this platform.

[2017-06-22 14:17] NeerajSarwan commented on #7
@NCherel

I already tried running python setup.py install but it throws the error mentioned in the original issue.

[2017-06-22 15:17] AxeldeRomblay commented on #7
At the moment mlbox only works for python 2. but we are working on this point to make it compatible with python 3. :)

[2017-06-25 17:27] brunosez commented on #7
I have the same issue with conda virtualenv , ubuntu 14.04.
it worked correctly with whell install...

[2017-06-25 17:29] brunosez opened #9 "how to set KERAS_BACKEND ?"
I have warning / errors with Theano backend.
So I want to switch to tensorflow.
I have a conda virtualenv , in general I set the keras.json file but here ?

Trying
os.environ["KERAS_BACKEND"] = "tensorflow"
from mlbox.preprocessing import *
from mlbox.optimisation import *
from mlbox.prediction import *
seems not worked

Thanks
Bruno

[2017-06-25 18:01] NCherel commented on #9
Yes, you need to change that line.
Don't forget to reinstall the package after so your changes are effective.

[2017-06-25 19:56] brunosez commented on #9
Thanks,
changing the line, force Tf Backend
unfortunately I get stuck with some tf installation

[2017-06-26 08:34] AxeldeRomblay commented on #9
@brunosez : Actually, it seems that tensorflow installation is a bit more complicated than theano. So we decided not to install tf but theano and to force theano backend when importing the module "encoding" (file categorical_encoder.py).

[2017-06-26 08:34] #9 closed

[2017-06-27 07:40] brunosez commented on #9
OK, you're right TF install with the correct GPU settings could be touchy !

[2017-06-29 13:06] #7 closed

[2017-07-12 11:27] hqkate opened #15 "timeout while calling Reader()"
Hi, I installed MLbox and tried to run the example code with the given dataset, but when I run the  **rd = Reader(sep)**
(py36) katekong@cufyp:~$ python
Python 3.6.1 |Anaconda custom (64-bit)| (default, May 11 2017, 13:09:58)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux
Type "help", "copyright", "credits" or "license" for more information.

the following error occurs:

  File "/home/katekong/an

[2017-07-12 11:28] paduel opened #16 "IOError: You have attempted to connect to an IPython Cluster but no Controller could be found"
Hi. I tried the 'Getting started: 30 seconds to MLBox', but I have this error when read and preprocess the files:

[code]
[code]

Before  successfully  started a cluster with:

```ipcluster start```

Also I checked at the same notebook this without error:

[code]
[code]
Could you help me?  I really want to try your MLBox  :smile:

Thanks.

[2017-07-12 11:47] paduel commented on #16
I tried to copy the directory ~/.ipython/profile_default to ~/.jupyter/profile_default  and didn't work.

[2017-07-18 07:58] AxeldeRomblay commented on #15
Hello,

Yes it is normal since you have to wait approx. 30 sec after importing mlbox subpackages... (see warning message). Anyway I will change this in the next releases !

[2017-07-18 08:12] AxeldeRomblay commented on #16
Hello,

hum did you wait 30 sec after importing mlbox ? Otherwise, It won't work and you will have to stop ipcluster engines :

`os.system("ipcluster stop --profile=home &")`

and start a again :

`os.system("ipcluster start --profile=home &")`

[2017-07-18 20:02] aliciawyy opened #17 "nice idea but ..."

[2017-07-19 07:50] #17 closed

[2017-07-19 15:51] ghost opened #19 "pip install looks OK, but import mlbox fails"
Hi Axel,

I tried to install MLBox on my Ubuntu 16.04 system.

I created a virtual environment with anaconda, then activate the environment and proceed to installation

All this did run OK. After that, I tried to run a python script with the instruction "from mlbox.optimisation import *" in it. The following error message was returned : "ImportError: No module named 'mlbox'."
Then I created an ipy

[2017-07-20 16:14] AxeldeRomblay commented on #19
Hello,
Can you download and install mlbox from the github please ?
I have fixed an error...
Thks

[2017-07-26 08:02] chMoussa opened #23 "All scores with Nan"
Hi,

When running with None in optimizer, it works and give scores for roc_auc.
But when specifying a space of parameters, I get this:

MEAN SCORE : accuracy = -inf
VARIANCE : nan (fold 1 = -inf, fold 2 = -inf, fold 3 = -inf, fold 4 = -inf, fold 5 = -inf)
CPU time: 0.561537027359 seconds

The following code was used:

space = {
        'ne__numerical_strategy' : {"search":"choice", "space":[0, 'me

[2017-07-26 08:20] AxeldeRomblay commented on #23
Be careful with the function "evaluate" : it is used only to evaluate a given dictionnary of parameters and not to optimise your Pipeline in a given space ! If you want to do so, please use the function "optimise"...

[2017-07-26 08:20] #23 closed

[2017-07-26 08:21] #15 closed

[2017-07-27 16:11] jlefman opened #24 "Classification example notebook ModuleNotFoundError"
Hi. Using python 3.6 under anaconda. I am using the classification notebook example under mlbox/examples/classification/example.ipynb. I see this error from the top cell:

### Code
[code]

### Error
[code]

Is this an installation issue? User error?

[2017-07-27 16:20] maskani-moh commented on #24
@jlefman

Thank you for the feedback.
We are currently working on it.

Get to you when this is fixed 😉

[2017-07-27 18:27] AxeldeRomblay commented on #24
@jlefman : you can install from pip (the version from PyPI works :) )

[2017-07-28 12:36] AxeldeRomblay commented on #24
it's ok now :)

[2017-07-28 12:36] AxeldeRomblay commented on #24
@jlefman : it's fixed :)

[2017-07-28 12:36] #24 closed

[2017-07-28 18:57] amueller opened #25 "cross_val_predict_proba is redundant with sklearn.model_selection.cross_val_predict"
you can do ``method="predict_proba"``

[2017-07-28 19:09] amueller opened #26 "FYI: ColumnTransformer"
We'll have a ColumnTransformer in sklearn pretty soon that will make it easier to treat different columns differently. That should make is much simpler to have different pipelines for categorical and continuous data, which seems one of the big issues MLBox addresses.

[2017-07-28 22:47] AxeldeRomblay commented on #25
@amueller : Thank you ! Do you handle the case where you have to predict the proba for an unknown class (that  occur when your target contains only one sample from a given class, otherwise it's ok if you stratify...) ?

[2017-07-28 22:49] AxeldeRomblay commented on #26
Great news !! :) When is the release ?

[2017-07-28 22:56] AxeldeRomblay commented on #25
Also, I thought that cross_val_score used to crash (or still crashes ?) if a given class contains less samples than n_splits. Please tell me if I am wrong...

[2017-07-28 23:02] amueller commented on #25
I think it crashes if there's a training set that doesn't contain all the
classes if you use KFold. If you use StratifiedKFold it'll refuse to split
because the stratification strategy doesn't work then. I guess we could
warn instead and do a "best effort" stratification.
That is a separate issue from the predict_proba shapes not matching, though.

Sent from phone. Please excuse spelling and brevi

[2017-07-28 23:03] amueller commented on #26
It's not merged yet, so it won't be in the upcoming 0.19 release. So winter?

Sent from phone. Please excuse spelling and brevity.

On Jul 28, 2017 18:49, "Axel" <notifications@github.com> wrote:

[2017-07-29 20:07] AxeldeRomblay commented on #26
Ok I will see how we can integrate this new feature into MLBox without making it too complicated to tune..

[2017-07-29 20:11] AxeldeRomblay commented on #25
Ok ! I will have a try then. Thank you ! Also please feel free to open an issue for any suggestions ;)

[2017-08-01 08:14] ilyes495 opened #29 "Hub connection request timed out"
I tried to run the code in the picture below, but I got the error saying TimeoutError: Hub connection request timed out.
I'm using Python2.7 under Ubuntu 16.04

![hub connection time out](https://user-images.githubusercontent.com/17175391/28815424-06f7c41a-76aa-11e7-92fe-dac481293aea.png)

Thanks for your help

[2017-08-01 08:27] AxeldeRomblay commented on #29
Hi,
Actually if you import mlbox.preprocessing, you have to wait approx 30 sec so that engines are ready... You can check in terminal that the following message appears : 'the engines appear to have started successfully'

Here is the doc for ipyparallel: https://ipyparallel.readthedocs.io/en/latest/process.html

At the moment, you have to kill your kernel or shutdown your VM, restart your code and

[2017-08-01 08:43] maskani-moh commented on #29
@AxeldeRomblay

What about warning the user when instanciating a `Drift_thresholder`. (Do a print basically asking to wait) ?

[2017-08-01 09:48] ilyes495 commented on #29
I restarted the kernel, run the imports and waited for more than 30 sec, when I ran the code, I got the same error

[2017-08-01 10:36] ilyes495 commented on #29
@maskani-moh I don't get a warning when instantiating  drift_thrsholder

[2017-08-01 11:30] maskani-moh commented on #29
@ilyes495

I know that. What I was suggesting to the developers is to put a warning to let the user wait 30s, which is not the case right now.

[2017-08-01 11:39] yousseferahim opened #30 "Code implementation frozen"
Hello,

I tried implementing  the code in  https://www.analyticsvidhya.com/blog/2017/07/mlbox-library-automated-machine-learning/.
The engines start but the code implementation is frozen (still running but no task is done). I get the following message on my screen:

![screen](https://user-images.githubusercontent.com/23098804/28823425-c3f07b4e-76bd-11e7-8d3e-6e325b198f49.jpg)

I tried to put time.

[2017-08-01 11:41] AxeldeRomblay commented on #29
@ilyes495. Did you get the warning when importing the lib ? What you can do: `os.system("ipcluster stop --profile=home &")` and then restart: `os.system("ipcluster start --profile=home &")` and then wait for the engines to be ready, etc... . Otherwise restart your computer ???

Anyway, we will get rid of ipyparallel for next releases as it is too complicated to use (it is helpful if you want to di

[2017-08-01 11:54] AxeldeRomblay commented on #30
Hello,

Do you run the code with Jupyter ? Can you give me a screenshot of your code please ?

[2017-08-01 15:25] ilyes495 commented on #29
I ran these commands and the problem was solved.
    jupyter serverextension enable --py ipyparallel
    jupyter nbextension install --py ipyparallel
    jupyter nbextension enable --py ipyparallel

[2017-08-01 15:26] ilyes495 commented on #29
I got an error after that on preprocessing file line 148 "fichier.write(var + " = " + str(d) + '\n')"
saying: TypeError: unsupported operand type(s) for +: 'int' and 'str', could be that var is an int rather than a string?

[2017-08-01 15:50] ilyes495 commented on #29
I solved the previous problem, by adding str(var).

[2017-08-01 15:50] #29 closed

[2017-08-01 16:23] AxeldeRomblay commented on #29
thanks for reporting this issue :)

[2017-08-01 16:30] ilyes495 opened #33 "Drift meaning"
in the documentation,it says that a drift coefficient of 0.5 is very stable and a coefficient of 1 is not, so when we have two values, let's say 0.5 and 0.57 which one is the most stable?  according to the documentation is 0.5, but I when I ran it on my dataset I got the one with 0.57 as the top coefficient.

Please if someone can explain me the concept and how I should interpret the results.

Tha

[2017-08-01 16:40] ilyes495 opened #34 "dict target"
I have a question regarding the format of target dataframe which is passed to fit_predict(), does it contain the labels of training dataset or for test dataset as well ? and how it should be formatted?
I think it's not clear if someone has to process the data himself before passing it to the predictor.

Thanks

[2017-08-01 16:45] AxeldeRomblay commented on #33
Yes so 0.5 is the most stable feature you can get and 1. the worst. In your case, 0,57 > 0.5 so the one with 0.57 is less stable than the one if 0.5 but it still remains a stable feature since 0.57 << 1.

We can assume that features with:

-  drift coeff < 0.6 are stable
- between 0.7 and 0.8 not stable
- >0.9 you have to delete it !!

[2017-08-01 16:51] ilyes495 commented on #33
thank you for your reply.
so maybe you have to reverse sort the list, because I got the highest drift coefficient (0.6) at the top and the lowest (0.5) at the bottom

[2017-08-01 16:58] yousseferahim commented on #30
No, I ran it first from PyCharm (IDE based on Anaconda) then directly from Windows command.

![code](https://user-images.githubusercontent.com/23098804/28836933-49772178-76eb-11e7-8a64-78833dd08b3f.jpg)

[2017-08-01 19:34] AxeldeRomblay commented on #30
Here is the mistake (from the blog actually), you forgot to put "__" instead of "_" when optimising the parameters.

For example: space = {'ne__numerical_strategy':{"search":"choice","space":['mean','median']}}
instead of : space = {'ne_numerical_strategy':{"search":"choice","space":['mean','median']}}

I have warned the author of the blog about this mistake...
Thanks for the issue !

[2017-08-01 19:50] AxeldeRomblay commented on #34
The "target dataframe" (actually it must be a **pandas Serie**) must contain the labels of training dataset only.

- The indexes of the target should also match with the train dataset.
- The serie's name must correspond to your target name
- dtype = 'int' for classif (as you're supposed to have encoded it before) or dtype = 'float' for regression

Also if you're dealing with a classification probl

[2017-08-01 19:51] AxeldeRomblay commented on #34
I will add more details to the docs tomorrow ! Thanks for reporting this issue !

[2017-08-01 20:12] yousseferahim commented on #30
Despite this parsing mistake, the problem persists with the same message as above.

[2017-08-02 06:18] #34 closed

[2017-08-02 08:41] AxeldeRomblay commented on #30
did you install from the github or from pip ? try to install it from pip and run again your code please... otherwise you can try on another IDE like jupyter, it would work I hope !

[2017-08-02 09:22] AxeldeRomblay commented on #33
I have updated the code: now the drift measure is normalized between 0. and 1.

- 0. of drift (ie 0%)= the most stable feature you can get
- 1. (ie 100%) = the most unstable feature you can get

[2017-08-02 09:22] #33 closed

[2017-08-04 00:41] SethKitchen commented on #30
I have the same issue.

[2017-08-04 01:15] SethKitchen commented on #30
Was solved by running in jupyter notebook

[2017-08-13 22:09] gvyshnya commented on #16
I see the same issue on my end too. Here is the stack trace of the error on my end:

`Traceback (most recent call last):
  File "E:/some_folder/mlbox_pipeline.py", line 19, in <module>
    data=mlb.preprocessing.Reader(sep=",").train_test_split(["data/train_imputed2.csv","data/test_imputed2.csv"],'SalePrice')
  File "C:\ProgramData\Anaconda3\lib\site-packages\mlbox\preprocessing\reader.py", line 1

[2017-08-21 10:46] wrangel opened #36 "NameError for DriftEstimator"
When computing drifts (Jupyter Notebook, MLBox 0.4.4) using the notebook in [the classification example](https://github.com/AxeldeRomblay/MLBox/tree/master/examples/classification)

`dft = Drift_thresholder()`
`df = dft.fit_transform(df)`

I get a name error:

[0:apply]:
---------------------------------------------------------------------------NameError                                 Traceback (

[2017-08-21 11:59] AxeldeRomblay commented on #36
Thanks for reporting this issue ! I will fix that asap and keep you in touch.

[2017-08-24 16:32] AxeldeRomblay commented on #36
It has just been fixed, so you can have a try ! It should work now..

[2017-08-24 16:32] #36 closed

[2017-08-24 16:33] #30 closed

[2017-08-24 16:33] AxeldeRomblay commented on #16
It has just been fixed, so you can have a try ! It should work now..

[2017-08-24 16:33] #16 closed

[2017-08-25 09:35] wrangel commented on #36
Working indeed. Thanks.

[2017-08-27 14:40] a1a2y3 opened #40 "Cleaning takes too long time on multi-cores cpu"
Cleaning takes 276s for house price dataset on intel E5-2683v3
As E5-2683 has more 14cores and 28threads.
I guess the problem may cause by n-job=-1 in here.
` if (self.verbose):
            print("cleaning data ...")

        df = pd.concat(Parallel(n_jobs=-1)(delayed(convert_list)(df[col]) for col in df.columns),
                       axis=1)

        df = pd.concat(Parallel(n_jobs=-1)(delayed(c

[2017-08-27 14:49] a1a2y3 commented on #40
Drift_thresholder() has same problem.
It takes 1.38s on kaggle kernel, and176s on my PC with E5-2683v3 cpu.

[2017-08-28 08:13] AxeldeRomblay commented on #40
Hum... sounds very weird ! Because it takes only 2 sec on my computer (7 cores). Have you tried to set n_jobs = 1 and run again ?

[2017-08-28 15:35] a1a2y3 commented on #40
Thank you for reply.  I think joblib or multiprocessing cause this problem, and trying to solve it.
I use windows10 + anaconda + python3.6 + vs2015, may have conflict with joblib?

set n_jobs=1, seems OK

reading csv : train.csv ...
cleaning data ...
CPU time: 0.22528505325317383 seconds

reading csv : test.csv ...
cleaning data ...
CPU time: 0.1932668685913086 seconds

[2017-08-29 05:43] a1a2y3 commented on #40
from  http://pythonhosted.org/joblib/parallel.html#common-usage
I found this "Under Windows, it is important to protect the main loop of code to avoid recursive spawning of subprocesses when using joblib.Parallel."..."No code should run outside of the “if __name__ == ‘__main__’” blocks, only imports and definitions."

Problem solved.

[2017-08-29 12:40] AxeldeRomblay commented on #40
Yes this is what I was wondering. At the moment, MLBox does not support Windows but soon :)
Thank you very much for reporting this issue !!

[2017-08-30 13:16] AxeldeRomblay commented on #25
I will modify it for drift_estimator.py, but for stacking_classifier.py I really need to handle the case where the target contains only one sample from a given class. I can't afford to delete this sample and then call `cross_val_predict(method="predict_proba")` due to shape compatibility issues...

[2017-08-30 13:24] amueller commented on #25
If I understand your problem correctly, this will be fixed in https://github.com/scikit-learn/scikit-learn/pull/9585. Feel free to wait for that ;)

[2017-08-30 13:25] amueller commented on #25
Sorry I meant https://github.com/scikit-learn/scikit-learn/pull/9532

[2017-08-31 23:31] sugiantolauw opened #41 "Installed mlbox but stuck at importing"
Hi Team,

I was excited in trying out mlbox but its stuck at importing.

So I have managed to installed the package, but its just stuck at importing.

This line: from mlbox.preprocessing import *

I wasnt able to get the background process error because it didnt come up in my command line.

I was wondering if you guys aware of this?

Best,

Sugi

[2017-09-01 06:47] AxeldeRomblay commented on #41
Hello Sugi,
Can you please tell me the OS and the IDE you're using ? At the moment MLBox runs on Ubuntu and works better on Jupyter notebook...

[2017-09-01 13:14] sugiantolauw commented on #41
Hi Axel,

Absolutely. I am on Windows 10 and i am using Jupyter notebook.

Looks like from what you are saying, it might be because I am using windows 10....

[2017-09-03 20:05] gvyshnya opened #42 "Error starting IPython Cluster"
hi @AxeldeRomblay ,

After you informed upon the fix per #16  , I did the update on my end to try it again.

I faced another issue with the complex stack trace below. Could you please advise?

George
-------------------------------------------------------
`C:\ProgramData\Anaconda3\python.exe "E:/gvyshnya/some_path/mlbox_pipeline.py"
"ipcluster" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ���

[2017-09-04 08:51] AxeldeRomblay commented on #42
Hum... Did you re-install MLBox using pip ? The new version 0.5 does not have this problem (since I got rid of ipyparallel and I use joblib instead to parallelize jobs !)

[2017-09-07 09:05] AxeldeRomblay commented on #41
Yes pretty sure...

[2017-09-11 04:42] Jeeva-Ganesan opened #43 "pipeline cannot be fitted"
Hello,

I got this error message when i ran my model, what does this actually mean?

`~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
[code]

{'fs__threshold': 0.23151363142104533, 'ce__strategy': 'label_encoding', 'est__max_depth': 7, 'ne__categorical_strategy': nan, 'est__n_estimators': 500, 'fs__strategy':

[2017-09-11 13:08] AxeldeRomblay commented on #43
Hello,
`'ne__categorical_strategy': nan` is deprecated in version 0.5. You can try the following choices instead :
- `'ne__categorical_strategy': '<NULL>'`
- `'ne__categorical_strategy': 'most_frequent'`
Please tell me if it works then...

[2017-09-13 02:35] Jeeva-Ganesan commented on #43
Thanks it worked. :) Closing it.

[2017-09-13 02:35] #43 closed

[2017-09-14 10:34] JoshuaC3 opened #44 "Get Entity Embeddings"
Hi, neat package, just getting my teeth into it.

One thing that stands out is that I cannot extract the entity embeddings. They seem to work really well so naturally, I want to plot them, explore them, tweak them etc... Is it possible to do this? Many thanks!

[2017-09-18 15:36] AxeldeRomblay commented on #44
Hi,

Yes of course you can :) Just call `Categorical_encoder(strategy="entity_embedding").fit_transform(df_train, y_train)`. Then you can do dimensionality reduction (t-SNE, PCA, ...) and plot !

Here is the associated doc : http://mlbox.readthedocs.io/en/latest/features.html#categorical-features

[2017-09-20 21:39] JoshuaC3 commented on #44
Hi Axel, sorry, I wasn't clear with my question. What about once the model has been trained? Is the best way to do this by getting out the best model params and inserting into categorical_encoder? Or is there a method call that can be used to get the embedding? I'm guessing the first option.

[2017-09-21 08:17] AxeldeRomblay commented on #44
Ok now I understand your question. No at the moment it is not possible to get the pipeline fitted after calling `fit_predict()`. But I will add this feature if you want ! It is a good idea !

Nevertheless, you can insert the best parameters into the pipeline `NA_encoder()` + `Categorical_encoder()` and fit again (make sure the configuration to impute missing values is exactly the same so that the

[2017-09-21 21:16] JoshuaC3 commented on #44
Thanks, I get how a but better how it is working now. Great package BTW.

[2017-10-05 04:11] NickBuchny opened #47 "TypeError: 'generator' object is not subscriptable"
When running on a python 3.6 environment in a jupyter notebook, ubuntu 14.04 I get the following:

'
from mlbox.preprocessing import *
from mlbox.optimisation import *
from mlbox.prediction import *

paths = ["train.csv", "test.csv"]
target_name = "target"

data = Reader(sep=",").train_test_split(paths, target_name)  #reading

space = {

        'ne__numerical_strategy' : {"space" : [0, 'mean']},

[2017-10-07 15:05] AxeldeRomblay commented on #47
Hello,
Thank you for reporting this issue ! I will have a look !

[2017-10-07 15:07] AxeldeRomblay commented on #47
What happens if you try different parameters ??

[2017-10-07 15:07] #42 closed

[2017-10-07 15:08] #25 closed

[2017-10-07 15:09] #41 closed

[2017-10-07 15:09] #44 closed

[2017-10-07 15:25] alifanov commented on #47
Looks like this
https://github.com/hyperopt/hyperopt/issues/325

[2017-10-07 17:51] NickBuchny commented on #47
Yes @alifanov the temp solution to that problem also fixed it for me (just found that today).

@AxeldeRomblay Check out that post.

[2017-10-09 08:24] AxeldeRomblay commented on #47
Thank you @alifanov ! I'll modify setup.py then...

[2017-10-09 13:50] AxeldeRomblay commented on #47
Done !

[2017-10-09 13:50] #47 closed

[2017-10-10 14:02] brunosez opened #50 "Drift computation error"
Hi Axel,
On a fresh install , I have this error at he Drift computation
any idea ?
with the classification example.

Thanks

Bruno
OS Ubuntu 14.04

computing drifts ...
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-4-282d86c52319> in <module>()
      1 dft = Drift_thresholder()

[2017-10-10 15:36] QingzeWang opened #51 "IndexError"
when I use

dft = Drift_thresholder()
df = dft.fit_transform(df)
There jumps an IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

-----
---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-4-282d86c52319>

[2017-10-10 20:00] AxeldeRomblay commented on #51
Thank you for reporting the issue ! I will correct this very soon !

[2017-10-10 20:01] AxeldeRomblay commented on #50
Thank you @brunosez for reporting the issue.. I will correct this soon !

[2017-10-11 20:26] AxeldeRomblay commented on #51
Issue solved ! :)

[2017-10-11 20:26] #51 closed

[2017-10-11 20:26] AxeldeRomblay commented on #50
Issue solved ! :)

[2017-10-11 20:28] #50 closed

[2017-10-12 07:02] brunosez commented on #50
Thanks,
How can I benefit from the patch ?
or is there any simple workaround ?
Rgds
Bruno

[2017-10-12 09:31] AxeldeRomblay commented on #50
Sorry ?

[2017-10-27 13:57] jrzaurin opened #52 "TypeError: 'generator' object has no attribute '__getitem__'"
reproducing the code directly from Kaggle on the Porto Insurance dataset:

[code]

it returns

[code]

Maybe related with the hyperopt version?

Nice library though 👍

[2017-10-27 14:07] jrzaurin commented on #52
Actually my apologies, has to do with the networkx version, I downgraded:

`pip install networkx==1.11`

and off we go!

[2017-10-27 14:07] #52 closed

[2017-11-20 21:05] DarquesM commented on #40
I've got same issue, where should I set n_jobs=1 ?
mlbox.preprocessing.Reader does not have "n_jobs" parameter

[2017-11-21 09:09] AxeldeRomblay commented on #40
Hello @DarquesM  !
The problem is due to windows... At the moment what you can do is to set n_jobs=1 in the source code :

`        ##############################################################
        #             Cleaning lists, floats and dates
        ##############################################################

        if (self.verbose):
            print("cleaning data ...")

        df

[2017-11-28 09:54] jithurjacob opened #53 "Feature Request: Leave one out encoding"
Hi,

 I have seen Owen Zhang( Kaggle #1) [explaining](https://youtu.be/LgLcfZjNF44)  how Leave one out encoding is useful for categorical encoding. Could you please review the usefulness of this technique and add it to the library?

[code sample](https://stackoverflow.com/questions/39129085/pandas-realization-of-leave-one-out-encoding-for-categorical-features)

[2017-11-29 06:55] jithurjacob opened #54 "Overriding string numerical conversion"
Hi,

For a data set I'm using the target and categorical variables are already label encoded to integers. MLBox is incorrectly identifying the categorical values & target as continuous. Thus MLBox is incorrectly converting a classification task into a regression task.

I tried setting the columns as string but still MLBox is converting to integer. Can I override this behavior?

[dataset](https://w

[2017-12-01 10:05] AxeldeRomblay commented on #53
Hello !
Nice idea :) I will try do it at the end of the year... also encoding text features would be very useful !

[2017-12-01 10:09] AxeldeRomblay commented on #54
Hello !

You're right : MLBox tries to cast "fake" categorical features with levels like "1", ... For the next release, the target won't be casted but the features will still be. To avoid this, unfortunately, you will need to append to each level a string like "level" :
`.apply(lambda x: "level"+str(x))`

Hope it will help you !

[2017-12-03 07:20] jithurjacob commented on #54
Thanks that helps

[2017-12-03 07:20] #54 closed

[2017-12-04 14:45] brcacrm opened #55 "Install fails. Can't tell if it is MLbox or XGboost that doesnt work"
Hi Axel,

We're trying to install MLbox and get the following error :
[code]

Now, given that xgboost is installed and works, I suppose two issues can cause the error :
1. The version of xgboost is too old. We're running 0.6.
2. MLbox can't find the available xgboost version

Indeed, it MLbox seems to try and install xgboost 0.6a2 even though a version is already installed, which is surprising.

M

[2017-12-04 14:53] brcacrm commented on #55
Detailed cmd print

[2017-12-06 08:41] AxeldeRomblay commented on #55
Hello !
What is your OS please ? MLBox setup is for Ubuntu only... Otherwise you will need to install xgboost 0.6a2 and lightgbm 2.0.2. manually... (see requirements.txt file)
Please tell me if you still get some trouble for the setup.
Thanks !

[2017-12-06 09:59] easonlv opened #56 "install fails"
Collecting xgboost==0.6a2
  Downloading xgboost-0.6a2.tar.gz (1.2MB)
    100% |████████████████████████████████| 1.2MB 358kB/s
    Complete output from command python setup.py egg_info:
    rm -f -rf build build_plugin lib bin *~ */*~ */*/*~ */*/*/*~ */*.o */*/*.o */*/*/*.o xgboost
    clang-omp++ -std=c++0x -Wall -O3 -msse2  -Wno-unknown-pragmas -funroll-loops -Iinclude   -Idmlc-core/include -Ira

[2017-12-06 10:49] brcacrm commented on #55
Hi,

My OS is Ubuntu 17.10.
I already tried with xgboost 0.6a2 and lightgbm 2.02 installed manually and get the same error.

Maybe it's me.
Thank you for your help.

[2017-12-06 13:01] AxeldeRomblay commented on #55
You also need to install gcc and cmake...

[2017-12-06 13:02] AxeldeRomblay commented on #56
Hello !
What is your OS please ? MLBox setup is for Ubuntu only... Otherwise you will need to install xgboost 0.6a2 and lightgbm 2.0.2. manually... (see requirements.txt file)

Also you will need to install gcc and cmake first (see readme.rst)

Please tell me if you still get some trouble for the setup.
Thanks !

[2017-12-06 13:52] brcacrm commented on #55
cmake 0.9.0 and  gcc 7.2.0 are installed

[2017-12-06 17:30] AxeldeRomblay commented on #55
Anyway for the next release, xgboost will be an optional requirement for the setup...

[2017-12-10 10:19] arita37 opened #57 "How to add custom algo"
How we can add custom algo as below:

[code]

to MLBox algo ?
Am more interested in feature engineering process.

[2017-12-11 14:59] AxeldeRomblay commented on #57
Hello !
What kind of algo is it ? Classification/regression ? which step ? Could you please tell me more or send me your code...

[2017-12-11 15:02] arita37 commented on #57
Hello,

This is regression using FM.

But, in general how we can customize
so we can wrap our code into a class than mlbox can understand ?

What it the based template of Mlbox ?

On Dec 11, 2017, at 23:59, Axel <notifications@github.com> wrote:

Hello !
What kind of algo is it ? Classification/regression ? which step ? Could you please tell me more or send me your code...

―
You are receiving thi

[2017-12-13 09:31] rth opened #58 "Pinned version of dependencies"
MLbox currently uses pinned versions of dependencies,
https://github.com/AxeldeRomblay/MLBox/blob/35e0be57b25fa64b1ac8561094f58aaf62527d41/python-package/setup.py#L8-L20

which doesn't play very nicely with other possibly installed packages in the environment. Relaxing at least some of these would be helpful.

[2017-12-13 13:37] AxeldeRomblay commented on #26
Hello @amueller !
I am working on some encoders (IndexEncoder, CategoricalEncoder, TextEncoder...) for the next release of MLBox and so I will now be interested in ColumnTransformer :)
When do you think it will be released ?
Thanks

[2017-12-13 14:08] amueller commented on #26
It has not been merged yet. I hope it will get merged this year (fingers crossed). It will be in the 0.20 release which might be in spring?

[2017-12-13 18:29] AxeldeRomblay commented on #26
Great ! Looking forward to try it !

[2017-12-14 09:50] AxeldeRomblay commented on #58
Thanks @rth ! Indeed it will be done for the next release :)

[2017-12-18 03:09] easonlv commented on #56
Thanks very much.
My computer OS is Mac OS 10.13.2,
I use xgboost and lightgbm for a long time.
I installed xgboost(0.6) and lightgbm (2.0.10)
I installed gcc like this .
----------------------

Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.12.sdk/usr/inclu

[2018-01-21 20:47] mileta1976 opened #59 "Target encoding"
Hello.

Great package Axel !

Could you add target encoding ?

https://www.kaggle.com/ogrellier/python-target-encoding-for-categorical-features

Thank you !

[2018-01-24 06:56] chetankalyan commented on #55
@AxeldeRomblay  - I'm facing the same issue on my Ubuntu 17.10 machine.
gcc - 7.2.0
cmake - 3.9.1
When I try `pip install xgboost`, it says xgboost 0.7-py3.6 is already installed. Is there a way I can make MLBox work with xgboost 0.7?

[2018-02-01 04:31] sugiantolauw commented on #58
Hi @AxeldeRomblay , when would the next release be? I would like to play around with this package but i am on xgboost=0.7 unfortunately.

[2018-02-01 17:49] AxeldeRomblay commented on #58
I just need one month more...

[2018-02-22 14:15] AxeldeRomblay commented on #59
Hello ! Thanks. I was already working on it... :) it will be soon released don't worry !

[2018-05-21 13:08] Twinkle123321 opened #60 "some questions about multi-class"
Hi,
It's so wonderful tools.However,I wondered how it distinct the classification  from regression ,by train label?When I do multi-class task,the model seemed to transform all data into float64(my train label's type is int64),so it do regression task.it's  not correct .So should I set some params  in model?
thank you!

[2018-05-23 16:16] AxeldeRomblay commented on #60
Hello ! Thanks !
Unfortunately if your target is int64 it is considered as regression... see issue #54

[2018-05-26 11:11] Twinkle123321 commented on #60
Thank  you for.your reply,however,when I change the data’s type into int32 or int64,it doesn't works.what types should I change?

[2018-06-02 09:33] brunosez commented on #60
Hi Axel,
Following the challenge meilleurdatascientistdefrance :-)
It seems multi-class detection is not obvious with the line
 if (y_train.nunique() <= 2):
                task = "classification"
in reader.py it limits to 2 class
For xgboost , objective and num_class params are also to be defined.
On local validation my score seems to be in first part of the LB
log_loss 0,96 , winners to 0,90
htt

[2018-06-08 08:35] ganav opened #61 "RNN and LSTM related question"
Hello Mr
Does this source support to generate RNN or CNN-LSTM (LRCN) architectures?

[2018-06-29 14:10] AxeldeRomblay commented on #61
Hello !
Not yet...

[2018-06-29 14:10] #61 closed

[2018-06-29 14:15] AxeldeRomblay commented on #59
here is the code to do it : https://github.com/dirty-cat/dirty_cat/blob/master/dirty_cat/target_encoder.py

[2018-06-29 14:16] AxeldeRomblay commented on #60
Nice work @brunosez ! do you know many DS have tried MLBox during the challenge ?

[2018-06-29 14:44] ShagadatovNurlan opened #62 "Comparison of AutoML approaches"
Hello, we are analyzing AutoML libraries(such as Auto-sklearn, Auto-ml, TPOT and MLBox) and try to determine pros and cons of each of them. Could you clarify the distinctive feature of your MLBox from others? In particular, we are interesting in problem of regression (time series with additional features)

[2018-07-07 11:03] AxeldeRomblay commented on #62
Hello, everything is here : https://github.com/AxeldeRomblay/MLBox/blob/master/docs/webinars/auto-ML.pdf :)

[2018-07-10 06:32] amitsri20 commented on #56
I am trying to install MLBox on macOS high Sierra but getting
`Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/vj/00_03krx25d8tmkxx_9cxpl5f40180/T/pip-install-jtf94l52/xgboost/`

I have already installed xgboost, lightgbm, gcc and cmake.

[2018-07-16 21:44] manugarri commented on #55
@AxeldeRomblay Is there an expected date for the next release? I see that the last one was in August 2017, I am experiencing this same problem (conda environment in Ubuntu 18.04 with xgboost working) and would love to give mlbox a try.

[2018-11-20 21:19] brunosez commented on #26
Available in 0.20 :-)

[2018-11-26 21:44] abhiglobalistic commented on #62
Hey @ShagadatovNurlan,
Is it possible for you to briefly describe your approach on how you are trying to compare the libraries. like the metrics used, datasets and what sort of criteria have you designed to compare them ?

[2019-03-15 16:01] istrategy commented on #55
I also get the error.
Ubuntu Linux 18.05
Python version 3.5
Anaconda 3 environment.

Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-k_n8jdl_/xgboost/

[2019-04-12 14:13] Henri-Gerard commented on #55
I set up a virtual environment on Ubuntu 18.10 and I got the following error :
_setuptools.sandbox.UnpickleableException: XGBoostLibraryNotFound('Cannot find XGBoost Libarary in the candicate path, did you install compilers and run build.sh in root path?_

Then I quit virtual environment, install xgboost manually and globally and I end up with the same error.

Then I adapt as suggested by @liuzhen

[2019-04-17 16:39] arunkumar3234 commented on #7
@NeerajSarwan
 I have the same issue help me overcome with this
Thanks

[2019-04-17 22:58] TimusLetap opened #63 "Trying to install and getting xgboost errors"
Systems is Kaggle kernel which is Ubuntu based which seems to be the desired environment

I rung this:
[code]
Resulting in this:

`Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-install-xib6_1h7/xgboost/`

Can you please help me out? I see your examples are also Kaggle based, but they don't have the install steps. Do you somehow install packages from setup within the kerne

[2019-04-17 23:52] TimusLetap commented on #63
when re-running multiple times the error changes to variants of xgboost errors, not sure what that means. I've been trying to replicate your titanic Kaggle build to see how to use and make it work, then I can confidently apply this to other datasets.

[2019-04-18 08:15] AxeldeRomblay commented on #63
I'll work on the setup (to replace xgboost by Lightgbm). Meanwhile you can try to install xgboost==0.6a2 manually...

[2019-04-18 08:18] AxeldeRomblay commented on #55
Sorry for the late answer... We are working on replacing xgboost by lightgbm for the next release as both models are almost equivalent ;)

[2019-04-18 08:19] AxeldeRomblay commented on #63
see https://github.com/AxeldeRomblay/MLBox/issues/55

[2019-04-18 19:20] TimusLetap commented on #63
Same error(s) come up. I think you may be right that xgboost is causing the problem. Replacing might help. Lightgbm doesn't seem to be causing issues. Then again I haven't been able to run the actual package so I don't know what the limitations are.

[2019-04-19 21:03] TimusLetap commented on #63
Can you perhaps share a screen shot of how you installed on Kaggle Kernel to get your examples working?

[2019-04-25 12:33] AxeldeRomblay commented on #63
Did you manage to install xgboost first ? If not please refer to : https://xgboost.readthedocs.io/en/latest/build.html

[2019-04-25 20:52] TimusLetap commented on #63
Are you able to share screen shots of you implementing and importing these libraries in your Kaggle examples? That would be super useful and would most likely address such issues. I was trying to follow your Kaggle examples but without being able to actually run the package it has proven quite difficult. I am able to install xgboost but the xgboost errors arise from the mlbox installation. xgboost

[2019-04-25 20:54] TimusLetap commented on #63
I hope I am being clear ans concise. If you can re-create your use of mlbox on your kaggle examples and share screenshots of how you were able to load and runt the package in that environment it would be highly appreciated and useful for recreating the process. Thank you.

[2019-04-25 20:54] richinvest commented on #63
I have the same issue like Timus. No issues with x boost, just when installing mlbox.

[2019-04-26 15:07] AxeldeRomblay commented on #63
Ok I have just removed XGBoost from the setup file (and the imports in the code)... Can you try to reinstall MLBox from pip or from the github please ? It should work now... see https://github.com/AxeldeRomblay/MLBox/tree/master/python-package
Thanks !
PS : I will share screenshots next week, I just need more time...

[2019-04-26 16:52] TimusLetap commented on #63
No worries! I understand. I just want to be able to use and spread the news of the package for others! Take your time. It's better to have this working than not. I'll post as soon as I run some tests.

[2019-04-27 17:58] TimusLetap commented on #63
I ran MLbox seems to run and call ok, just having issues loading dataset, are there parameters we can use for read function? Or is the tqdm wrapper compatible?

[2019-04-28 21:34] TimusLetap commented on #63
Is there a way to pass dataframes (pandas if need to be specified) for MLBox to process??

[2019-04-29 08:42] AxeldeRomblay commented on #63
ok great :) can you open a new issue please with screenshots/snippets of the code/error message ?
For the moment you have to dump your dataframes and read+preprocess using MLBox... but for the next release it will be two separated tasks that so that you can skip the reading task if you have data already loaded...

[2019-05-01 07:00] VinayChaudhari1996 opened #64 "You have no test dataset !"
**I already split my dataset into X_train and X_test**
___

why this issue occurs ? please help

![image](https://user-images.githubusercontent.com/42869040/57008285-995e1d00-6c0c-11e9-9499-f675a9af7225.png)

[2019-05-02 08:25] AxeldeRomblay commented on #64
Hi ! Normally the test set does not contain the target... if you still want to predict on this set you have to remove the target... Otherwise it will concatenate both set and evaluate the model in a cross-validation way.

[2019-05-02 09:00] VinayChaudhari1996 commented on #64
Thanks, man It works :)

![image](https://user-images.githubusercontent.com/42869040/57065364-cda60c00-6ce6-11e9-944e-3d5439aed850.png)

[2019-05-02 09:00] #64 closed

[2019-05-02 17:54] TimusLetap commented on #63
What size csv files does it handle at the moment? I am having trouble reading in large dataset

[2019-05-03 07:07] VinayChaudhari1996 opened #65 "How to Check model RMSE and MAE ?"
I m just compile the code it returns predictions but, how I check MAE, RMSE, MSE?

[2019-05-03 09:16] AxeldeRomblay commented on #63
how many rows and features do you have ?

[2019-05-04 23:46] TimusLetap commented on #63
I have 2 Columns with 64M rows, One column is designated as the feature and the other is the target variable.

[2019-05-07 09:17] #65 closed

[2019-05-07 09:20] VinayChaudhari1996 opened #66 "How to save model in .pkl or joblib ?"
I have RUN mlbox in one system and which automatically generate SAVE folder is directory so ,I copy this SAVE folder in another pc and try to run below command. and got error>
**My biggest issue is** ,
___

### HOW I SERVE MY MODEL LIKE .PKL IN OTHER PC AND PREDICT SINGLE RECORD

![image](https://user-images.githubusercontent.com/42869040/57288626-75e91580-70d7-11e9-95af-7719b5e22a03.png)

[2019-05-07 10:55] yckoong opened #67 "Trying to install mlbox on ubuntu 18.05 but getting errors"
Hi, Thanks for creating such an awesome package, i have got lot of good review on 'mlbox' and i always want to try it :)

I'm trying to install mlbox on `Ubuntu 18.04.2 LTS` & `Python 3.7.3` , but getting some errors while installation.

I have done install per-requisite (refer to [Installation guide](https://github.com/AxeldeRomblay/MLBox/tree/master/python-package)) before install `mlbox`, below

[2019-05-08 09:52] Joselinejamy opened #68 "Regarding Text classification"
Hello,
Am getting poor results on classifying texts. Is this expected or should i change any search space ?.

P.S  Am using default search space

[2019-05-10 09:10] yckoong commented on #67
Solved the issue by downgrade numpy to `numpy==1.13.3` & downgrade python version from `3.7.3` to `3.6.8` since MLbox is compatible with: **Python 2.7 - 3.6. & 64-bit version only**

[2019-05-10 18:24] AxeldeRomblay commented on #68
Hello ! It is normal for the moment but the next release will handle text classification :) you can have a look at the dev branch...

[2019-05-10 18:24] AxeldeRomblay commented on #67
Great you found the solution :) thanks !

[2019-05-10 18:26] #67 closed

[2019-05-10 18:31] AxeldeRomblay commented on #66
Hello ! Thank you for the issue ! We will add this feature for the next release :)

[2019-05-10 18:35] #63 closed

[2019-05-10 18:36] VinayChaudhari1996 commented on #66
1) joblib & pickle - save model and load model

[2019-05-10 23:17] TimusLetap commented on #63
Axel,

I don't understand how you closed the thread without a resolution being
reached, unless you pushed an update through?? Is there a way to parse the
data? tqdm is integrated, no?

On Fri, May 10, 2019 at 11:35 AM Axel <notifications@github.com> wrote:

[2019-05-13 08:11] AxeldeRomblay commented on #63
Hello ! The install problem is solved (xgboost is now removed in the latest release...). For the reading issue, I think your dataset is just too large ? maybe you can open a new issue with a screenshot (is it the reading or the preprocessing that takes a lot of time ?) Thanks !

[2019-05-14 06:26] TimusLetap opened #69 "Memory error when reading in Data"
Data results in MemoryError

is there a way to process a DataFrame?? The csv file I'm using is about 9GB, unless there is a way to parse a segment of the data using Reader method in MLBox??

[2019-05-21 11:39] vazhameladze commented on #7
usage: setup.py [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]               or: setup.py --help [cmd1 cmd2 ...]                                              or: setup.py --help-comma
--

[2019-05-21 12:32] Henri-Gerard commented on #7
You should use either
python setup.py install
if you just want to use the package
or
python setup.py develop
if you want to contribute.

This error comes often when one forgot to provide "install" or "develop" argument

[2019-06-25 07:33] Henri-Gerard commented on #19
I am closing this issue as there are no more messages since July 2017

[2019-06-25 07:33] #19 closed

[2019-06-25 09:13] AxeldeRomblay commented on #26
Hello, thanks for reporting this issue. I will close it since this feature will be added to a next release (MLBox 1.0.0 probably)

[2019-06-25 09:13] #26 closed

[2019-06-25 09:22] AxeldeRomblay commented on #53
Hello, thanks for reporting this issue. I will close it since this feature will be added in a next release (MLBox 1.0.0 probably)

[2019-06-25 09:22] #53 closed

[2019-06-25 09:23] AxeldeRomblay commented on #55
Hello, thanks for reporting this issue. I will close it since this is now fixed.

[2019-06-25 09:23] #55 closed

[2019-06-25 09:24] AxeldeRomblay commented on #56
Hello, thanks for reporting this issue. I will close it since this is now fixed...

[2019-06-25 09:24] #56 closed

[2019-06-25 09:26] AxeldeRomblay commented on #59
Hello, thanks for reporting this issue. I will close it since this feature will be added in a next release (MLBox 1.0.0 probably)

[2019-06-25 09:26] #59 closed

[2019-06-25 09:28] AxeldeRomblay commented on #62
Hello, thanks for reporting this issue. I will close it since the doc is available here : https://github.com/AxeldeRomblay/MLBox/tree/master/docs/webinars and https://mlbox.readthedocs.io/en/latest/#links.

[2019-06-25 09:28] #62 closed

[2019-06-25 11:55] AxeldeRomblay commented on #68
Hello, thanks for reporting this issue. I will close it since text classification option will be added in a next release (MLBox 1.0.0 probably)

[2019-06-25 11:55] #68 closed

[2019-06-25 11:55] AxeldeRomblay commented on #58
Hello, thanks for reporting this issue. I will close it since this is now fixed...

[2019-06-25 11:55] #58 closed

[2019-06-25 11:58] AxeldeRomblay commented on #57
Hello, thanks for reporting this issue. I will close it since this option will be added in a next release (MLBox 1.0.0 probably)

[2019-06-25 11:58] #57 closed

[2019-06-25 11:58] AxeldeRomblay commented on #66
Hello, thanks for reporting this issue. I will close it since this feature will be added in a next release (MLBox 1.0.0 probably)

[2019-06-25 11:58] #66 closed

[2019-06-25 11:59] AxeldeRomblay commented on #40
Hello, thanks for reporting this issue. I will close it since this will be fixed in a next release (MLBox 0.7.1 probably)

[2019-06-25 11:59] #40 closed

[2019-06-25 12:06] AxeldeRomblay commented on #60
Hello, thanks for reporting this issue. In a next release, we will improve the automatic task detection and also add the possibility to override the task detection in case it is mis-detected...

[2019-06-25 12:06] #60 closed

[2019-06-25 12:08] AxeldeRomblay commented on #69
Hello, thanks for reporting this issue. I will close it since we will investigate this issue and fix it in the next release.

[2019-06-25 12:08] #69 closed

[2019-07-23 11:09] HemantAHK opened #71 "Error while Running:df = rd.train_test_split(paths, target_name)"
I tried to run df = rd.train_test_split(paths, target_name) in Google colab and the error is
cannot import name '_values_from_object'.

![error](https://user-images.githubusercontent.com/40433943/61707525-4f4a8a80-ad68-11e9-9c88-233091663777.png)
 Can anyone help me out?

[2019-07-24 01:01] jlarrieux opened #72 "should python 3.7 be compatible?"
I just installed the latest version of python 3.7.4. Is there any particular reason why MLBox is not compatible with 3.7?

[2019-07-24 08:04] AxeldeRomblay commented on #72
Hello @jlarrieux ! It should work but we didn't make sure the setup and the tests pass on py37. Anyway, it will officially be supported very soon ;)
Also, if something fails on py37 please let us know ! Thanks

[2019-07-30 20:33] Revo2407 commented on #72
Hey @AxeldeRomblay ! Thanks for the great package. But yeah the same problem as mentioned above.

[2019-08-06 12:03] #71 closed

[2019-08-09 23:22] CrystaljhSun commented on #7
Really, when I add the command 'install' it seems to work now. Thank you!

[2019-08-10 12:20] jimthompson5802 commented on #72
Just to add specificity to this thread.

Building mailbox Docker image using `continuumio/miniconda3:latest` as the base, which contains Python 3.7.  (NOTE: No problems are encountered when using an older version `continuumio/miniconda3:4.3.27`, which contains Py3.6.)

When I attempt to install mlbox with Py3.7, I encounter this error:
[code]
If needed this is the full build log.
[docker_build.txt

[2019-08-10 12:27] jimthompson5802 commented on #72
In researching this, I found this [issue in sklear](https://github.com/scikit-learn/scikit-learn/issues/11320).  The cited problem symptoms are the same. It appears the issue the issue of sklearn called out by the dependency.

[2019-08-10 14:50] jimthompson5802 opened #74 "purest fails with OSError: dlopen: cannot load any more object with static TLS"
OS: MacOS 10.14.6
Docker for Mac: 2.1.01
docker base image: continuumio/minconda3:4.3.27
mlbox: 0.8.0
Python: 3.6

pytest unit tests fail with error ` OSError: dlopen: cannot load any more object with static TLS`.  This contains full error log [mlbox_pytest_failure_static_tls_py36.txt](https://github.com/AxeldeRomblay/MLBox/files/3488924/mlbox_pytest_failure_static_tls_py36.txt)

In researching th

[2019-08-11 06:04] Nithanaroy opened #76 "module mlbox.preprocessing not found error when my mlbox.py in the same folder"
When I have `mlbox.py` file in the same folder,

[code]
throws an error saying `module mlbox.preprocessing not found`. On changing the filename of that python file to something else, it works fine. However, it was a little confusion why the above lines were executing the code from my `mlbox.py` file.

[2019-08-11 22:31] manugarri commented on #72
overwriting the scikitlearn-0.19.0 for 0.20.0 (the first p37 compatible version) fixes that installation error, however, a similar error happens afterwards with pandas.

[2019-08-11 22:42] manugarri commented on #72
one bruteforce method that maked the installation work for me on python3.7 was to overwrite the repo requirements.txt with this ```
numpy
scipy
matplotlib
hyperopt
Keras
pandas
joblib
scikit-learn
tensorflow
lightgbm
networkx
tables
xlrd```

Still need to test the installation to make sure it actually work, since this is a very bad way to setup a package.

[2019-08-12 16:05] Nithanaroy opened #77 "LightGBM Warning when strategy is Linear"
I'm getting error saying the parameter is unknown for a LightGBM classifier when I chose `est__stratagy` as `Linear`. However the log shows that `LogisticRegression` was picked for HP search. I'm confused from the log. What am I missing?
**Log**
[code]
**Code**
[code]

[2019-08-12 17:27] jimthompson5802 commented on #72
@manugarri  like you I've been fiddling with the requirements.txt file, though not as aggressively as you.  I was able to get mlbox installed on a Python 3.7 docker image but the unit tests failed due to one of the packages I left alone was not compatible with Py3.7.  Right now I'm looking at ways of enhancing the requirements.txt file to support 3.5, 3.6 and 3.7 environments.  Once I work out the

[2019-08-12 18:37] manugarri commented on #72
great @jimthompson5802 , would you mind sharing what you have so far?

[2019-08-13 01:29] jimthompson5802 commented on #72
@manugarri   Some good news and bad news.
**Good news**:  This `requirements.txt` is able to build mlbox on both Py3.6 and Py3.7.
[code]

On Py3.6 all 90 unit test pass.

**Now the bad news.**  Under py3.7, 1 of the 90 unit tests fails.  This is the subset of the unit tests that encounters a problem.  The optimizer returns `-inf` when strategy='LightGBM'.
[code]

I'm digging around to see if I can

[2019-08-13 08:56] manugarri commented on #72
Awesome, that is much more robust! I am going to test that locally.

BTW, Ive noticed getting a lot of nan's and infs for evaluation results as well, is that an expected  behaviour, or due to the existence of NaNs that are not cleaned up by the train_test_split function?

[2019-08-13 09:06] AxeldeRomblay commented on #76
Hello @Nithanaroy, when you run the import command in python you can both import from a package or from a script. That's why here it is confusing because you don't have a preprocessing function in your script mlbox.py...

[2019-08-13 09:06] #76 closed

[2019-08-13 09:29] AxeldeRomblay commented on #77
You wrote : `est__stratagy` instead of `est__strategy` so the strategy will remain a LightGBM and MLBox is looking for a parameter "stratagy" for LightGBM which does not exist...

[2019-08-13 09:29] #77 closed

[2019-08-13 09:58] AxeldeRomblay commented on #72
Hello, sorry for the late answer...

Thanks for opening the issue and @jimthompson5802 for investigating it :) Actually I was already working on the requirements to upgrade all the packages, see: https://github.com/AxeldeRomblay/MLBox/blob/0.8.1/requirements.txt

The test that fails is due to an invalid metric ("roc_auc" here in the binary classification), so I have modified the code (https://gith

[2019-08-13 09:59] manugarri commented on #72
neat!, thanks @AxeldeRomblay

[2019-08-13 14:14] Nithanaroy commented on #77
Axel, that was a typo in the problem description. In the config below it is correct which describe thr search space it is correct.

[2019-08-22 21:37] Mia-3765 opened #78 "Error while computing the cross validation mean score."
Hi,

I am interested in MLBox and tried for a Kaggle classification project. When processing to the step of optimizing the best hyperparameters, an error message showed as 'An error occurred while computing the cross validation mean score. Check the parameter values and your scoring function.'

Here's the code I used:

`
Path = ['train_path', 'test_path']
target = 'target_name'

rd = Reader(sep =

[2019-08-23 07:54] AxeldeRomblay commented on #78
Hello @Mia-3765,

Is it a binary classification problem ? if so, it seems that there is an issue (i am currently fixing it for the next release). Meanwhile, you can try to replace your scoring with the roc_auc from sklearn :

`from sklearn.metrics import roc_auc_score
`opt = Optimiser(scoring = roc_auc_score, n_folds = 5)

Is it working for you ?

[2019-08-25 21:40] AxeldeRomblay commented on #78
Hello @Mia-3765, MLBox 0.8.1 has just been released and our issue is now fixed. You can upgrade the package from PyPI :)

[2019-08-25 22:03] AxeldeRomblay commented on #72
Hello everyone,
Good news : MLBox 0.8.1 has just been released on PyPI and the issues are fixed (it is also compatible with python 3.7). Enjoy !

[2019-08-25 22:03] #72 closed

[2019-08-26 12:08] ogencoglu opened #80 "Comparison to similar packages"
Thank you a lot for the great effort!

What are the advantages and disadvantages compared to similar packages especially in hyper-parameter optimization? :

- https://github.com/minimaxir/automl-gs

- https://github.com/HunterMcGushion/hyperparameter_hunter

- https://github.com/pfnet/optuna/

- https://github.com/EpistasisLab/tpot

- https://github.com/keras-team/autokeras

- https://github.com/h

[2019-08-26 12:22] AxeldeRomblay commented on #80
Hello @ogencoglu ! Glad to see you like the package :)

Actually I would say that MLBox is the only python open source package that automates **all the steps** (reading, splitting train/test, preprocessing, feature encoding, robust feature selection, hyper-parameters tuning, model interpretation and prediction, stacking...).

You can find more details here :
- https://github.com/AxeldeRomblay/MLBo

[2019-08-26 19:19] Mia-3765 commented on #78
Hi, Axel

Thanks for your reply.
Yes, it is a classification problem. I have tried both methods you provided
to me, importing sklearn and update MLBox version.
However, the problem is not solved. The roc-auc score is still '-inf'.

[image: image.png]

Looking forward to hearing from you.
Thanks.

On Sun, Aug 25, 2019 at 5:40 PM Axel <notifications@github.com> wrote:

--
Yao(Mia) Li
M.S. in Data Sc

[2019-08-27 07:50] ogencoglu commented on #80
Thanks for the swift reply! Cheers!

[2019-08-27 08:58] AxeldeRomblay commented on #78
Hello @Mia-3765

I think I have it. You decided to choose the following parameter :`'ne__categorical_strategy':{"search":"choice", "space":[np.NaN]}` which is not possible because it replaces missing values for categorical features by np.NaN which is a float... Try instead : `'ne__categorical_strategy':{"search":"choice", "space":['<NULL>']}`.

If this still doesn't work. Can you tell me if it is

[2019-08-27 21:39] Mia-3765 commented on #78
Hi Axel,

Thanks for replying. It's working now!
By the way, this is a binary classification problem with imbalanced label.

Have a great day.

On Tue, Aug 27, 2019 at 4:58 AM Axel <notifications@github.com> wrote:

--
Yao(Mia) Li
M.S. in Data Science
Columbia University

[2019-08-28 08:07] #80 closed

[2019-08-28 08:07] #78 closed

[2019-09-04 11:31] BobbyMadasu opened #81 "ModuleNotFoundError: No module named 'mlbox' - pip install looks OK, but import mlbox fails"
MlBox is installed but still it is giving modulenotfound error

![_mlbox_error](https://user-images.githubusercontent.com/54359739/64251232-a16cf700-cf35-11e9-8873-1f9d332eb60e.png)

[2019-09-04 12:22] AxeldeRomblay commented on #81
Hello @BobbyMadasu,
Can you please give more details (log of `pip install mlbox` command, python version, os, ...) ? Thanks !

[2019-09-04 13:10] BobbyMadasu commented on #81
python version: 3.7
OS: ubuntu

pip install mlbox

Requirement already satisfied: mlbox in ./anaconda3/lib/python3.7/site-packages (0.8.1)
Requirement already satisfied: scikit-learn==0.21.3 in ./.local/lib/python3.7/site-packages (from mlbox) (0.21.3)
Requirement already satisfied: numpy==1.17.0 in ./.local/lib/python3.7/site-packages (from mlbox) (1.17.0)
Requirement already satisfied: lightgbm=

[2019-09-04 14:27] AxeldeRomblay commented on #81
I think the problem is with your pip... It installs mlbox in the wrong repo. Can you try to upgrade pip or use pip3 ? Also can you try to import mlbox using python3 in the terminal :
`$ python3

[2019-09-04 15:27] BobbyMadasu commented on #81
Python 3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

Using TensorFlow backend.
/home/ubuntu/.local/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be under

[2019-09-17 17:32] Mia-3765 opened #82 "Install MLBox on Google Colab"
Hi, Axel

I tried to install MLBox on **Google** **Colab** using code `!pip install mlbox`. The package can be successfully installed but an error appears when I want to import MLBox.

`
ImportError: Cannot load backend 'TkAgg' which requires the 'tk' interactive framework, as 'headless' is currently running
`

There's the screenshot.
![image](https://user-images.githubusercontent.com/35540380/650

[2019-09-18 08:30] AxeldeRomblay commented on #82
Hello @Mia-3765,
Thanks for reporting this issue ! It is now fixed, can you try to re-install mlbox with pip (make sure you upgrade mlbox with the **0.8.2** version !).
If it still doesn't work, please let me know !
Axel

[2019-09-19 14:53] rconnol opened #83 "Specify Cross Validation Function"
I would like to be able to specify my own cross validation function. An example would be a time series dataset where I would want to use a cross validation like the following:
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html

I haven't dug into the code too much, but I did see where you statically define the cross validation function in the evaluate fu

[2019-09-19 14:58] #82 closed

[2019-09-19 15:14] AxeldeRomblay commented on #83
Hello @rconnol,

At the moment this feature is not available. Actually this is a choice I have made to avoid mistakes from the users when passing a cv object to the optimizer.
Nevertheless, it is very easy to tweak the code, just override the following lines with your custom cv:
- https://github.com/AxeldeRomblay/MLBox/blob/master/mlbox/optimisation/optimiser.py#L181 (for classification task)
- ht

[2019-09-19 20:22] Mia-3765 commented on #82
Hi Axel,

Problem solved.

Thanks for helping!

On Thu, Sep 19, 2019 at 10:58 AM Axel <notifications@github.com> wrote:

--
Yao(Mia) Li
M.S. in Data Science
Columbia University

[2019-09-22 23:52] jimthompson5802 opened #85 "Proposal: Integrate mlflow tracking capability into mlbox to track hyper-parameter tuning results"
Integrate [mlflow](https://github.com/mlflow/mlflow) metric tracking capabilities with mlbox to track hyperparameter tuning results.

Specifically, use `mlflow` to record results from `opt.optimise(space, df)`, such as these
[code]

By using mlflow to track these kind of results, we are able to use mlflow web tracking ui to review and report on those results.  This capability is demonstrated in th

[2019-09-25 02:08] jimthompson5802 commented on #85
Key requirement is to provide backward compatibility.

Additional details on the proposal. The signature for the `optimise()` method of the `Optimiser()` class will change to be
[code]

The new parameter `mlflow_parms` will control mlflow behavior.  The default for this parameter is `None`.  This provides backward compatibility, i.e. `optimise()` will operate the same as before mlflow integration.

[2019-09-25 08:14] AxeldeRomblay commented on #85
Hello @jimthompson5802,
Thanks for this nice feature ! It could be great, I will have a look. It would be better if the user does not set any parameters (mflow_params must have default values and be hidden from the user...). Also what about the mlflow requirements ? python versions ? dependencies with mlbox ?
Thanks !
Axel

[2019-09-26 00:48] jimthompson5802 commented on #85
@AxeldeRomblay   Thank you for the feedback.

I understand the you'd like to hide mlflow as much as possible from the user.  This should be doable.  One implication of this approach is that instead of using the mlflow web UI, which requires some knowledge of how mlflow works, to view results of the `optimize()` run, we may need a new method to the `Optimiser()` class to extract results into a pand

[2019-09-26 02:20] jimthompson5802 commented on #85
@AxeldeRomblay

This is initial attempt at hiding mlflow integration with mlbox.

This code fragment from the pytest module testing mlflow integration show the sequence of api calls
[code]

This is the Excel workbook created from the cvs data extracted from the pandas dataframe of mlflow captured data from the `optimise()` run.
[mlflow_data.xlsx](https://github.com/AxeldeRomblay/MLBox/files/365556

[2019-09-26 16:33] Henri-Gerard commented on #81
Thanks for your patience, I was not available this month. Apparently the problem comes from matplotlib

Thus mlbox cannot be imported.

Open a terminal and copy paste the following
     import matplotlib
     matplotlib.use('TkAgg')

Does it raise any error ?

If in any case you solved the problem, thanks to share your solution and to close the issue :)

[2019-09-27 08:33] AxeldeRomblay commented on #81
Normally it has been fixed. See https://github.com/AxeldeRomblay/MLBox/issues/82

[2019-09-27 08:33] #81 closed

[2019-09-29 01:18] jimthompson5802 commented on #85
@AxeldeRomblay

Here is a status update on the work.

I understand a key requirement is to hide the mlflow api from someone using mlbox.  While this is possible, I believe it will be useful to provide visibility to mlflow concepts of experiments and runs.

Briefly, an 'experiment' is a collection of related 'runs', where a 'run' represents a single instance of running a ML algorithm with specific

[2019-10-06 22:50] jimthompson5802 opened #86 "Questions re: documentation for optimise() method"
The [optimise documentation page](https://mlbox.readthedocs.io/en/latest/features.html#optimisation) contains this passage:
[code]

* I'm not sure what is meant by the phrase "Try to avoid dependent parameters...".  An example of will be helpful.

* Is this a correct interpretation of "...set one feature selection strategy and one estimator as at a time."  the following:
[code]

[2019-10-07 19:49] brunosez opened #87 "How to force classification ?"
Hi,
On this simple dataset, target type is detected as float, I try to force to int in pre-preprocessing
but no way ?
Do you have an idea ?
Thanks
Bruno

https://www.kaggle.com/c/learn-together/data

train[['Cover_Type']] = train[['Cover_Type']].astype(int)
train.to_csv("../input/train2.csv",index=False)

[2019-10-08 07:31] AxeldeRomblay commented on #87
Hello @brunosez,
Could you please re-send me the link ? it does not work...
Thanks !

[2019-10-08 08:52] brunosez commented on #87
Hello Axel
Here : https://www.kaggle.com/c/learn-together
Have a nice day !

[2019-10-09 15:03] brunosez commented on #87
In fact, same issue as 2y ago
task = "regression"
            count = y_train.nunique()

            if (count <= 2):
                task = "classification"

            else:
                if (y_train.dtype == object):
                    task = "classification"
I will force target column to be an object...
Rgds

[2019-10-10 09:52] AxeldeRomblay commented on #87
Indeed, if your target looks like this : y = ["2", "1", "10", ... ,"5"], it will be considered as a regression problem (which is often relevant...) . Otherwise, try to cast it like this : y = ["C2", "C1", "C10", ... ,"C5"].

[2019-10-10 09:52] #87 closed

[2019-10-10 09:58] AxeldeRomblay commented on #86
Hello @jimthompson5802,
Sorry for the late answer, I'm quite busy these days...
Yes you're right, you should avoid optimizing two (or more) different models (eg: RandomForest & LightGBM) that share common parameters (eg : max_depth). The optimizer could be lost when trying different values for the different models... (max_depth = 10 for a RandomForest is not equivalent for a LightGBM...). But once

[2019-10-10 09:58] #86 closed

[2019-10-14 13:00] brunosez opened #88 "Feedback Stacking"
Hi all,

Could you clarify stacking ? ,
 I've done an experiment with this space
space = {

    #    'ne__numerical_strategy':{"search":"choice",
    #                             "space":[0]},
        'ce__strategy':{"search":"choice",
                        "space":["label_encoding","random_projection", "entity_embedding"]},
        'fs__threshold':{"search":"uniform",
                        "

[2019-10-14 15:07] AxeldeRomblay commented on #88
Hello @brunosez,

Good question ! At the moment it is not possible to optimise over the base estimators (hyperopt code raises an error because the parameter is a list...). Nevertheless, you can optimise over the other parameters (like n_folds, copy, ...). Also be careful here, you need to call the stacking step so you have to replace 'est' by 'stck' like this :

`space = {
'stck__copy' : {"search"

[2019-10-14 19:14] brunosez commented on #88
Thanks @AxeldeRomblay !
The process could be to optimize individually each base estimators, note the params and run again with
another small libs like in this notebook
https://www.kaggle.com/jakelj/basic-ensemble-model

==
from mlxtend.classifier import StackingCVClassifier

ensemble = [
            ('clf_knc', clf_knc),
            ('clf_hbc', clf_hbc),
            ('clf_etc', clf_etc),

[2019-10-17 09:09] Kulsumganihar commented on #7
Tried with all the solutions provided here, still getting same error.
After using python setup.py install all the required packages are getting installed. But when I try to run the file I am getting following error.
`usage: setup.py [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
   or: setup.py --help [cmd1 cmd2 ...]
   or: setup.py --help-commands
   or: setup.py cmd --help

error: no comm

[2019-10-17 09:13] #83 closed

[2019-11-13 14:59] danlg opened #89 "Create ONNX interface"
It would be great to be able to export the optimised / trained /selected model with ONNX so that the inference can be fast and run on any cloud provider at scale.

[2020-01-19 11:13] ihusky02 commented on #7
Hi,

I try install youtube-dl-gui for Zorin 15 and python setup.py install command worked, but I don`t see this app?

https://pastebin.com/wLBvUW3U

[2020-02-05 06:27] sathvikchiramana opened #92 "MLbox predict issue"
when i  run fit_predict function its continuously running and not outputting any csv file ,it got stuck in the middle,i try to run it from jupyternotebook as well as idle,my os is windows 10
![Screenshot (6)](https://user-images.githubusercontent.com/57037932/73816448-adbfed80-480e-11ea-88a7-53016e346239.png)
![Screenshot (7)](https://user-images.githubusercontent.com/57037932/73816451-aef11a80-48

[2020-02-10 15:22] AxeldeRomblay commented on #92
Hello @sathvikchiramana ! What is the size of your data set ? Also I think you should have a window with the features importance that has popped up after fitting the pipeline and you need to close it... is it the case ?

[2020-02-10 15:23] sathvikchiramana commented on #92
Yes I corrected it myself,it worked

On Mon, Feb 10, 2020, 8:52 PM Axel <notifications@github.com> wrote:

[2020-02-10 15:23] AxeldeRomblay commented on #92
ok i close the issue then !

[2020-02-10 15:23] #92 closed

[2020-02-16 09:04] edanweis opened #93 "XGBoost is not"
MLBox throws an error when I use XGBoost as classifier running regression prediction.

`ValueError: Pipeline cannot be set with these parameters. Check the name of your stages.`

I have followed several tutorials using XGBoost without success. However, LightGBM works fine. I have tried eliminating different Hyper-parameters, but still get the error.

Is there an up to date params dict I can use as

[2020-02-16 17:54] AxeldeRomblay commented on #93
Hello @edanweis,
XGBoost is no longer supported in MLBox... it was too complicated to install so I decided to drop it ! You can use instead LightGBM (default choice).

[2020-02-16 17:54] #93 closed

[2020-02-27 08:06] gaoexingyun opened #94 "Why does mlbox recognize my multi-class training set as a regression problem"
I originally wanted to train my multi-class training set with mlbox classification, but after importing the data, it automatically recognized it as regression, and changed my target value data type from int to float.

[2020-02-27 09:33] AxeldeRomblay commented on #94
Hello @gaoexingyun,
Thanks for the issue ! You can refer to this one : https://github.com/AxeldeRomblay/MLBox/issues/87

To sum it up, MLBox always tries to cast your target into float so if you have something like : "1", "2", ... it is considered as a regression problem, better if your target looks like "C1", "C2", ...

Please tell me if it works now.

[2020-02-28 10:38] #94 closed

[2020-02-28 10:40] gaoexingyun commented on #94
Thank you. It works.

[2020-03-10 11:53] Kunalgroy opened #95 "Issue with fit_predict method of Predictor()"

[2020-03-10 13:02] AxeldeRomblay commented on #95
Hello @Kunalgroy, can you please provide a description (with screenshots, setup configuration, ...) ? Thanks

[2020-03-10 17:01] Kunalgroy commented on #95
@AxeldeRomblay - sorry I didn't update the comment properly. Now have updated the same. Please check the same.

[2020-03-10 17:15] AxeldeRomblay commented on #95
Can you please tell me if you have the _feature_importance.png_ file saved in the save folder ? It seems like it is stuck while displaying it...

[2020-03-11 04:14] Kunalgroy commented on #95
The pop-up image displayed. Later I have closed it.

File has been dumped inside _save_ folder. -> _LightGBM_feature_importance.png_

[2020-03-11 09:21] AxeldeRomblay commented on #95
ok so it is stuck here : https://github.com/AxeldeRomblay/MLBox/blob/master/mlbox/prediction/predictor.py#L387

- can you try to add this line of code at the beginning of your notebook please : `%matplotlib inline` ?
- or if you set : `prd = Predictor(verbose=False)` it should work but you won't have the logging information... The predictions will be saved in the _save_ folder.

[2020-03-11 09:25] AxeldeRomblay commented on #95
btw it seems that this error only occurs on your OS and/or because the feature importances are displayed within a pop-up window... which is weird !

[2020-04-04 18:22] shakirmshaker opened #96 "Installation error"
**When I am traying to install, I get this long massage:**

C:\Users\shaki>pip install mlbox
Error processing line 7 of c:\python38\lib\site-packages\pywin32.pth:

  Traceback (most recent call last):
    File "c:\python38\lib\site.py", line 169, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
  ModuleNotFoundError: No module named 'pywin32_bootstrap'

Remainder of file ign

[2020-04-10 06:15] Rubix982 commented on #96
Hi @shakirmshaker !
I found a relevant problem at https://stackoverflow.com/questions/58989806/anaconda-terminal-error-pywin32-bootstrap .

Saving you a link, the solution is either this,
`pip install pywin32==225`
or
`pip install --ignore-installed pywin32`

Let me know if it works for you. I can't recreate it, exactly because my machine is on Linux right now. Sorry.

[2020-04-10 06:43] Rubix982 opened #97 "Build Fails Using Pip, TF 1.14.0 Requirement Cannot Be Satisfied"
Hi!

# OS / Package Version

OS: `Linux archlinux 5.5.3-arch1-1 #1 SMP PREEMPT Tue, 11 Feb 2020 15:35:41 +0000 x86_64 GNU/Linux`
Python: `3.8.1`

# The Issue

The current build ( commit 0c99b2fc4292d4e2d33b197c1652574ed38bb21b ) fails for me when I try to install mlbox from pip using the below command,
`sudo pip install mlbox`

At the end, I received the following error
[code]

I tried to manually

[2020-04-10 06:55] Rubix982 commented on #97
Relevant issue at tensorflow/tensorflow can be found [here](https://github.com/tensorflow/tensorflow/issues/28785) .

[2020-04-10 09:38] AxeldeRomblay commented on #96
Thank you @Rubix982 for the precious help ! @shakirmshaker is it ok for you now ?

[2020-04-10 09:41] AxeldeRomblay commented on #97
Hello @Rubix982, thank you for reporting this issue. Actually, the PR already exists : https://github.com/AxeldeRomblay/MLBox/pull/91, but I will see if I can directly upgrade to tf 2.0... without breaking any dependencies ! ;)

Also as I see that you are working on py 3.8, I will try to upgrade MLBox.

[2020-04-10 10:36] Rubix982 commented on #97
Okay, thank you so much.
I did not look into the PRs beforehand, my apologies.

[2020-04-12 15:23] #97 closed

[2020-04-20 03:14] GaganaB opened #100 "DL methods in MLBox"
Hi. I was wondering if there's a way to try deep learning methods on CSV files in MLBox? Thank you.

[2020-04-20 08:27] AxeldeRomblay commented on #100
Hello @GaganaB, what do you mean by trying DL models on csv files ? Actually you can read csv files with MLBox and encode categorical features using DL methods... : https://mlbox.readthedocs.io/en/latest/features.html#categorical-features
Hope it helps.

[2020-04-20 08:27] #100 closed

[2020-04-30 09:14] annaveronika opened #101 "Add CatBoost"
It would be nice to add CatBoost, one of three most popular gbdt libraries (https://github.com/catboost/catboost, https://catboost.ai/)

[2020-04-30 10:16] AxeldeRomblay commented on #101
Hello @annaveronika, yes I know that one... Do you have a benchmark between LightGBM & Catboost ? Because there is already a gbdt algo in MLBox... Also is it easy to install ?

[2020-04-30 13:26] annaveronika commented on #101
`pip install catboost` should work
The difference in resulting metrics between xgboost, catboost and lightgbm will depend on the dataset, there is no single winner for datasets with only numeric features. If you run the algorithm with default parameters, catboost will usually win, if you run with parameter tuning, you might get any of them as a winner. If you have categorical features or text feat

[2020-05-01 00:17] MasterXiong opened #102 "How to specify categorical columns"
Hi, thanks for providing such a useful toolkit. I want to ask that when we use Optimizer.optimise(space, data), how should we setup the input data so that mlbox could know which columns are categorical features that need to apply the encoding strategy? Thanks.

[2020-05-02 08:16] alexnix opened #103 "Number of test samples : 1"
I use a train (12k rows) and a test (4k rows) file.
I read them like this:

paths = ["Fields_train.csv", "Fields_test.csv"]
target_name = "price"
rd = Reader(sep = ',')
df = rd.train_test_split(paths, target_name)

But the output says there is only one test sample....
This causes: "Only one class present in y_true. ROC AUC score is not defined in that case." when doing

dft = Drift_thresholder()
d

[2020-05-04 08:18] AxeldeRomblay commented on #102
Hello @MasterXiong ! You don't need to specify which columns are categorical features (neither dates or lists or whatever...), MLBox will detect automatically :)

[2020-05-04 08:18] #102 closed

[2020-05-04 08:21] AxeldeRomblay commented on #103
Hello @alexnix,
The test set is detected as the set where the target is missing (either no column or the values are missing...). If you still want to predict on this specific set, you have to remove the "price" feature from it. Hope it helps !

[2020-05-04 08:21] #103 closed

[2020-05-04 08:24] AxeldeRomblay commented on #101
Ok. Maybe you can try to send me a PR (code + tests) if you are comfortable with this... otherwise I will try to have a look.

[2020-05-04 09:22] annaveronika commented on #101
It would be great if you would do it when you have time. I don't plan for pr-s, sorry...

[2020-05-10 10:28] alexnix commented on #103
Indeed this was the issue, it worked when I removed the price column from the test data set. Thanks!

[2020-05-17 20:47] leandroimail opened #104 "Add copyright and license information"
I'm very interested in contributing to this project. But this project doesn't have a license type explicit of your documentation.

Can you put a type of license in README this project?

Thanks

[2020-05-17 21:34] #104 closed

[2020-05-26 14:21] divyaprabha123 commented on #101
@AxeldeRomblay Can I raise a PR for this?

[2020-06-06 05:21] kazimsayed954 commented on #7
python setup.py install

or

python setup.py build

or

python setup.py build_exe

[2020-07-01 20:48] cyrusmsk opened #106 "Tensorflow version error"
When trying to isntall via 'pip install mlbox' on Manjaro Linux it gives an error, that it could not find version of tensorflow of 2.0.1 in pip. So I have to install it manually. But if it is tested with 2.2.0 version maybe change the requirements.txt for '>=2.0.1' or something like that.

[2020-07-02 08:42] AxeldeRomblay commented on #106
Hello @cyrusmsk ! Thanks for opening this issue.
Can you share a screenshot of the installation please ?
I'll upgrade tensorflow 2.0 to 2.2 soon anyway ;)

[2020-07-06 02:43] varshithvvs commented on #106
Hello @AxeldeRomblay, even I have been facing the same issue when installed via pip
![MLBox Tensorflow Version Error](https://user-images.githubusercontent.com/37666557/86550634-88bbdc00-bf60-11ea-9105-043edd23cfb0.png)

[2020-07-08 09:14] mahatibharadwaj opened #107 "Redundant results and model overfitting"
1. We are getting same results irrespective of number of max_evals and seed change.
2. We have increased n_fold and also reduced max_evals to see if we get different results. For any combination of parameter settings we are getting same results. I think the model is over-fitting during training. Is there any other way where we can check and stop this to get better results?
3. In our use-case we ha

[2020-07-08 09:38] AxeldeRomblay commented on #107
Hello @mahatibharadwaj ! Can you share a screenshot please ?

[2020-07-08 10:06] mahatibharadwaj commented on #107
![Screenshot (61)](https://user-images.githubusercontent.com/10925978/86906095-a5a70980-c130-11ea-901c-dd58fc698f2b.png)

This is the code snippet I have used.

[2020-07-08 10:30] mahatibharadwaj commented on #107
![Screenshot (62)](https://user-images.githubusercontent.com/10925978/86908326-fcfaa900-c133-11ea-8e07-6591fe98d236.png)
This is the code snippet for stacking regressor. How to use this space for fitting the model using stacking regressor. please help

[2020-07-08 13:20] AxeldeRomblay commented on #107
Thanks ! So here are the answers :

1. np.seed doesn't help, you have to directly use the 'random_state' argument in the Optimiser class. Regarding max_evals, as you have few configurations to test, it is normal to get the same results...
2. What do you mean by different results ? Different best hyperparameters ? or different scores ?
3. please refer to : https://github.com/AxeldeRomblay/MLBox/iss

[2020-07-08 13:20] #107 closed

[2020-07-08 13:21] AxeldeRomblay commented on #106
FYI I am working on https://github.com/AxeldeRomblay/MLBox/tree/0.8.5

[2020-07-09 08:11] hanshupe opened #108 "Shuffling of n_folds"
In the optimization pipeline I can define the number of folds. I assume cross-validation on these folds is used to optimize the pipeline?

n_folds (int, default = 2) – The number of folds for cross validation (stratified for classification)

Especially for regression problem with time-dependent data it would make sense not to pick the observations randomly from the whole dataset, but to use slices

[2020-07-09 08:39] mahatibharadwaj commented on #107
2. By same results I mean irrespective of any combination of parameter settings the predicted values of target variable is the same upto 6th decimal place. Please let me know how to resolve this.

Also I have another issue - joblib directory is not getting created inside the save folder.

[2020-07-20 09:59] AxeldeRomblay commented on #108
Hi @hanshupe,
Good point ! Here is the answer, I let you read : https://github.com/AxeldeRomblay/MLBox/issues/83
Feel free to ask if something is not clear enough.

[2020-07-20 09:59] #108 closed

[2020-07-30 21:15] nithinreddyy opened #109 "How to assign back categorical variables to train and test data set after testing?"
Hey, MLBox is really good. But I'm unable to convert back or assign back categorical variables after testing to train and test data set. Can you please look into it.

[2020-07-30 21:19] nithinreddyy opened #110 "How to check confusion matrix?"
Hey, how to check confusion matrix and how extract true positives data? I mean if we have 92% of true positives, then how to extract that data?

[2020-08-03 12:14] nithinreddyy opened #111 "How to add algorithms on our choice in this?"
like normally RandomForest, LightGBM is present in code. Can we add decision trees, logistic regression and Knn etc?

[2020-08-03 12:58] AxeldeRomblay commented on #111
Hello @nithinreddyy, as written in the doc trees & logistic regression are already in the MLBox...

[2020-08-03 12:58] #111 closed

[2020-08-03 12:59] AxeldeRomblay commented on #110
Hello @nithinreddyy, at the moment this feature is not in MLBox. But could be interesting to add it !

[2020-08-03 12:59] #110 closed

[2020-08-03 13:03] AxeldeRomblay commented on #109
Hello @nithinreddyy, what do you want to do ? I am not sure to understand your point. A feature is automatically converted/detected as categorical or numerical. If there is a mistake (which is very rare), you can try to cast your feature before running MLBox (eg : "2" -> "category2" so that it remains a string and can not be converted as a float)

[2020-08-03 13:03] #109 closed

[2020-08-03 13:05] nithinreddyy commented on #111
Great, Thanks

[2020-08-03 13:05] nithinreddyy commented on #110
Yea please do that. Thanks

[2020-08-03 13:07] nithinreddyy commented on #109
That's not the question. The question is mlbox converts categories to numerical right, then after training and testing how to convert those numerical back to categorical? like in sklearn we have inverse_transform right

[2020-08-24 05:20] nithinreddyy commented on #106
Dude try !pip install mlbox in google colab or change your TensorFlow version to 2.0.1 or below  if you're trying it on your pc

[2020-08-25 09:28] AxeldeRomblay commented on #106
It should work now. See https://github.com/AxeldeRomblay/MLBox/pull/112 and https://travis-ci.org/github/AxeldeRomblay/MLBox/builds/720932576

[2020-10-10 06:29] KleinXin opened #115 "params of classifiers"
It seems the params of classifiers are set as default in optimiser.py

Only LightGBM is used by default.

Is there any way to set params so that different classifiers can be used in stead of LightGBM?

The only way is to change the source codes if I want to use RandomForest？

[2020-10-12 08:41] AxeldeRomblay commented on #115
Hello @KleinXin,
You can have a look here : https://mlbox.readthedocs.io/en/latest/features.html#mlbox.model.classification.Classifier
Thanks !

[2020-10-12 08:41] #115 closed, assigned to nobody

[2020-11-23 20:25] lijie97 opened #117 "Get TypeError: object of type 'NoneType' has no len() when read files"
I had used it before, and I reran it and got this type of error.

Try it on colab and kaggle.

It doesn't work even with this simple set.

[code]

train_set.csv
[code]
pred_set.csv
[code]

[code]

[2020-11-23 20:44] lijie97 commented on #117
update : Even the examples in this repo cannot be run

[2020-11-24 09:58] AxeldeRomblay commented on #117
Thank you @lijie97, I will have a look and fix it

[2020-11-24 10:55] AxeldeRomblay commented on #117
Sounds weird... Can you please try to rename your columns with strings (instead of 1,2,3 ...) ? or use another dataset please ? Because on my side it works on colab using california housing dataset...

[2020-11-24 11:36] lijie97 commented on #117
Yes, I have a try also by the code in *Example*, but it seems that does not work as the same reason.

[2020-12-08 13:58] ThomasBourgeois opened #119 "Temporal leaks"
Hi, very nice lib Axel,

I just tried it, is there any way to deal with temporal leaks (eg for regression).

Currently I'm unsure the lib deals with temporeal leaks, for example the current score that is spit out of Optimizer is a cross validation score but that probably is slightlty overestimated in case some folds are trained in the future compared to the validation set.

-> one way to deal with

[2020-12-09 14:07] slgero opened #120 "You have no test dataset"
Hello, I try to follow steps as shown in [this example](https://github.com/AxeldeRomblay/MLBox/blob/master/examples/classification/example.ipynb), but I get an error `You have no test dataset`. How can I solve this problem?

![image](https://user-images.githubusercontent.com/47792593/101639618-91996800-3a40-11eb-9599-78db780494fe.png)

[2020-12-10 13:16] ThomasBourgeois commented on #120
I had this the other day. It's explained in the doc, you have to put at least one path where you input a test set, that is, one where the target is not present.

[2020-12-10 19:30] slgero commented on #120
@ThomasBourgeois Thank you very much!

[2020-12-10 19:30] #120 closed, assigned to nobody

[2020-12-16 07:29] SwePalm commented on #106
got error when doing pip install due to your tensorflow==2.0.0
there is no such version
  Could not find a version that satisfies the requirement tensorflow==2.0.0 (from mlbox) (from versions: 0.12.1, 1.0.0, 1.0.1, 1.1.0rc0, 1.1.0rc1, 1.1.0rc2, 1.1.0, 1.2.0rc0, 1.2.0rc1, 1.2.0rc2, 1.2.0, 1.2.1, 1.3.0rc0, 1.3.0rc1, 1.3.0rc2, 1.3.0, 1.4.0rc0, 1.4.0rc1, 1.4.0, 1.4.1, 1.5.0rc0, 1.5.0rc1, 1.5.0, 1.5.1,

[2020-12-16 07:51] SwePalm opened #121 "matplotlib issue?"
Got error trying to import mlbox
ImportError: Cannot load backend 'TkAgg' which requires the 'tk' interactive framework, as 'headless' is currently running

After a google search i found more people having the same issues, i tried the simple solution suggested
import matplotlib
matplotlib.use('TKAgg')

did not work

I did not try the more agressive solution suggested '"I just deleted matplotlib.us

[2020-12-23 19:02] AxeldeRomblay commented on #121
Hello @SwePalm,
Thanks for the feedback. Can you please tell me what is your config (OS, python version, ... ) ?
Sounds weird since we have a try catch here : https://github.com/AxeldeRomblay/MLBox/blob/master/mlbox/prediction/predictor.py#L15

[2020-12-23 19:08] AxeldeRomblay commented on #119
Hello @ThomasBourgeois,
Thank you !
Indeed MLBox uses standard cv, but the problem with custom cv is that it is not automatic and/or increases the number of parameters in the Optimiser class... Nevertheless it should be easy to tweak the code here to add your own cv : https://github.com/AxeldeRomblay/MLBox/blob/master/mlbox/optimisation/optimiser.py#L424

See https://github.com/AxeldeRomblay/MLBox

[2020-12-27 09:28] ThomasBourgeois commented on #119
Hi @AxeldeRomblay , thx for your reply, I hadnt seen this was already referenced. Wow, tweaking the code with throw-away lines, that is a no-go for me, but if you think there is no other way, no pb. ;)

[2021-01-08 15:16] ghost opened #122 "Error : 'Illegal instruction (core dumped)'"
python version : 3.6.12
windows 64bit
While Running the import statement  'from mlbox.preprocessing import *'
I got this error " 'Illegal instruction (core dumped)' " can you help with this issue

[2021-01-08 15:59] #122 closed, assigned to nobody

[2021-03-10 07:39] naumansabir-wecrunch opened #123 "Is it possible to do Time Series Forecasting using MLBox?"

[2021-03-28 14:03] zuliani99 opened #124 "Pipeline cannot be fitted"
I’m trying to create a simple model that predict a classification problem.
I’ve imported the dataset using fetch_openml.

The code it works fil until it tries to fit the pipeline, in fact il returns the error:
“Pipeline cannot be fitted”.

![IMG_0273](https://user-images.githubusercontent.com/50734202/112754923-b0673e80-8fde-11eb-805e-51721196db07.jpeg)
![IMG_0274](https://user-images.githubuserco

[2021-04-01 21:17] #124 closed, assigned to nobody

[2021-04-04 22:14] zuliani99 opened #125 "Error during installation of MLBox"
Hi,
I'm trying to install mlbox on my device but after running the usual pip3 install mlbox, it ended with the follow error:
[code]
I've tried also to install separately matplotlib, freetype, png and rerun pip3 install mlbox but the sema error appears.

OS: WIndows 10 (Ubuntu subystem)

[2021-04-25 15:26] juliusyang97 opened #126 "how to use GPU in training"

[2021-05-06 03:33] FangmingZhou commented on #106
I met the same problem when i used python3.6, and i solved it by using python3.7

[2021-05-13 04:27] ThirstyGeo opened #128 "pip dependency error"
During a fresh install to a new conda env, there is a dependency error which results in packages being installed and then uninstalled, and then this error:

`ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pymc3 3.11.1 requires typing-extensions>=3.7.4, which is not instal

[2021-05-18 14:36] derdentyler opened #129 "Centos install bug"
When I install mlbox in docker (python3.6 -m pip install mlbox==0.8.5)
_FROM centos:centos7_
I get next error:
the container is assembled from the image, but after a few seconds it disappears.

[2021-06-09 11:43] cepedus commented on #125
Clone the repo and install with pip:

[code]

Change all `==` in `requirements.txt` to `>=`

Install:

[code]

[2021-06-10 13:03] AxeldeRomblay commented on #125
Thanks @cepedus for the help :)

[2021-06-14 20:51] #125 closed, assigned to nobody

[2021-06-27 04:19] messiasab opened #131 "python setup.py install"
python setup.py install

or

python setup.py build

or

python setup.py build_exe

_Originally posted by @kazimsayed954 in https://github.com/AxeldeRomblay/MLBox/issues/7#issuecomment-639986612_

[2021-06-27 04:19] messiasab commented on #131
python setup.py build_exe

[2021-06-27 04:20] messiasab commented on #7
python setup.py build_exe

[2021-06-27 04:20] messiasab commented on #7
ValueError: Cannot find required utility `patchelf` in PATH

[2021-12-10 12:20] nikkisingh111333 commented on #117
Hello there i m having the exact same issue here...i have tried 3 dataset of house prediction all getting the same error
`TypeError: object of type 'NoneType' has no len()`
how to fix this or this is the production Bug...i have spents hours trying to figure it out but no Luck..

[2021-12-10 12:35] nikkisingh111333 opened #133 "TypeError: object of type 'NoneType' has no len() on house prediction dataset"
hello i m completely new to autoML ..i m strictly following  Docs here and getting this error
`TypeError: object of type 'NoneType' has no len()` while reading dataset code is exact same as describe in documentation quick start...
dataset i m using california_house_dataset present by google colab
please help me?

[2022-01-13 16:51] FredericoSL opened #134 "Save using joblib"
How do I save the best model using joblib?

[2022-01-28 05:07] mrajkumar18 opened #135 "ModuleNotFoundError: No module named 'mlbox.preprocessing'"
Hi,

Even after installed !pip install mlbox, getting error message while using mlbox.

1) Able to find in installation using  !pip list command

mlbox 0.8.5

2) Error Message
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-10-2d1b084de555> in <module>
      1 #https://mlbox.readt

[2022-03-23 16:42] mbrsagor commented on #7
`python setup.py bdist_wheel`

**The code does not work. below is the error message:**

usage: setup.py [global_opts] cmd1 [cmd1_opts] [cmd2 [cmd2_opts] ...]
   or: setup.py --help [cmd1 cmd2 ...]
   or: setup.py --help-commands
   or: setup.py cmd --help

error: invalid command 'bdist_wheel'

[2022-09-01 13:21] viveks-codes commented on #117
Hey Everyone,
If you are on colab and you have just installed MLbox
and you got following error that says
<b>TypeError: object of type 'NoneType' has no len()</b>
try following solution :

`Runtime -> Restart and Run All`

Hope This Helps : ) :+1:
Thanks,

Vivek Patel

[2022-10-26 02:12] PyDR-Tool opened #141 "Project dependencies may have API risk issues"
Hi, In **MLBox**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using

[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API Error b

[2022-11-25 06:32] kaushikk1999 commented on #96
**not able to install mlbox in jupyter notebook with pip or cmd**

this error is coming

Collecting mlbox
  Using cached mlbox-0.8.5.tar.gz (31 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting numpy==1.18.2
  Using cached numpy-1.18.2.zip (5.4 MB)
  Installing build dependencies: started
  Installing build dependencies: finished w